body{
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}
.part{
    left: -10px;
    position: relative;
    width: 1900px;
    height: 10%;
    overflow: hidden;
    /* background-color: blue; */
}
/* header */
.logo{
    position: relative;
    font-family: 'plus jakarta sans';
    font-style: normal;
    left: 45px;
    letter-spacing: 3px;
    color: black;
}
a{
    text-decoration: none;
    color: #18181b;
}
.l{
    font-family: 'plus jakarta sans';
    font-style: normal;
    color: #f43f5e;
}
.menu{
    position: relative;
    /* background-color: seagreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    height: 24px;
    top: -43px;
    left: 250px;
    font-size: 16px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
}
.menu a{
    color: black;
    text-decoration: none;
}
.acct{
    position: relative;
    align-items: center;
    justify-content:space-around;
    display: flex;
    /* background-color: blue; */
    width: 276px;
    height: 45px;
    left: 85%;
    font-family: 'plus jakarta sans';
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
    top: -78px;
}
.acct button{
    position: relative;
    width: 187px;
    height: 45px;
    background-color: #18181b;
    border-radius: 10px;
    color: #fff;
    font-family: 'plus jakarta sans';
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
}

/* main content */

/* left card */
.lcard{
    position: relative;
    height: 503px;
    width: 481px;
    left: 153px;
    top: 140px;
    /* border: solid 5px #18181b; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lcard h1{
    position: relative;
    top: -35px;
    font-size: 58px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    line-height: 66px;
    font-weight: 800; 
}
.lcard p{
    position: relative;
    top: -55px;
    font-size: 16px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
    color: #52525b; 
}
.input{
    position: relative;
    width: 476px;
    height: 72px;
    border: solid 1px #52525b;
    border-radius: 15px;
    left: 3px;
    top: -35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input input{
    position: relative;
    left: 25px;
    height: 65px;
    width: 227px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
}
.input input::placeholder{
    color: #18181b;
    font-size: 16px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
}
.input button{
    position: relative;
    left: 57px;
    width: 179px;
    height: 56px;
    color: #fff;
    background-color: #18181b;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    line-height: 26px;
    font-weight: 700;
}
.facts{
    position: relative;
    height: 62px;
    width: 455px;
    /* background-color: red; */
}
.facts p{
    position: relative;
    font-size: 42px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    font-weight: 500;
    color: #18181b;
    top: -25px;
}
.facts h1{
    position: relative;
    top: -100px;
    left: 110px;
    font-size: 13px;
    font-family: 'plus jakarta sans';
    line-height: 20px;
    font-weight: 400;
}
.facts img{
    position: relative;
    top: -150px;
    left: 197px;
}
.facts h2{
    position: relative;
    top: -235px;
    left: 245px;
    font-size: 42px;
    font-family: 'plus jakarta sans';
    font-style: normal;
    font-weight: 500;
    color: #18181b;
}
.facts h3{
    position: relative;
    top: -315px;
    left: 365px;
    font-size: 13px;
    font-family: 'plus jakarta sans';
    font-weight: 400;
}

/* right card */
.rcard{
    position: relative;
    top: -480px;
    left: 60%;
    width: 600px;
    height: 647px;
    /* background-color: black; */
    /* overflow: hidden; */
}
.rcard img{
    position: relative;
    top: -0.5px;
    border-radius: 15px;
}
.grad{
    position: relative;
    top: -150px;
    left: 50px;
    width: 518px;
    height: 288px;
    background: linear-gradient(90deg, #44BCFF -0.55%, #44B0FF 22.86%, #FF44EC 48.36%, #FF44EC 73.33%, #FF675E 99.34%);    opacity: 0.6;
    filter: blur(65px);
    opacity: 0.6;
    transform: rotate(0deg);
}
.pic{
    position: relative;
    width: 475px;
    height: 607px;
    /* background-color: blue; */
    overflow: hidden;
    top: 38px;
    left: 78px;
    border-radius: 15px;
}
.dsg1{
    position: relative;
    height: 50px;
    /* background-color: blue; */
    bottom: 585px;
    left: 405px;
    width: 58px;
}
.dsg2{
    position: relative;
    height: 20px;
    width: 50px;
    bottom: 580px;
    left: 535px;
    /* background-color: blue; */
}
.dsg3{
    position: relative;
    position: relative;
    height: 20px;
    width: 50px;
    bottom: 650px;
    left: 40px;
    /* background-color: blue; */
}
.atm{
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    bottom: 300px;
    left: 104px;
    width: 331px;
    height: 209px;
    border-radius: 13px;
    box-shadow: 0px 38.8094px 56.0581px rgba(35, 40, 105, 0.08);
    backdrop-filter: blur(69.1801px);
}
.logo2{
    position: relative;
    font-family: 'plus jakarta sans';
    font-style: normal;
    left: 45px;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 2.7px;
    color: black;
    left: 175px;
    top: 15px;
}
.l2{
    font-family: 'plus jakarta sans';
    font-style: normal;
    color: #f43f5e;
}
.atm img{
    position: relative;
    border-radius: 5px;
    left: 22px;
    top: 45px;
}
.atm p{
    position: relative;
    font-family: 'plus jakarta sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10.058px;
    line-height: 16px;
    text-transform: uppercase;
    top: 68px;
    left: 22px;
}
.img{
    position: relative;
    bottom: 24px;
    left: 200px;
}
